<style>
  h4{
    margin-top: -50px;
  }
</style>

<div class="container mx-auto p-1">
  <div class="row">
    <div class="col-sm-8">
      <div class="card card-cover h-100 overflow-hidden bg-black rounded-4 shadow-lg">
        <div class="d-flex flex-column h-100 text-white text-shadow-1">
          <img src="/assets/imagen/Pagina%20web%20(1)-09.png" ng-fallimg>
          <h4 class="display-6 lh-1 fw-bold">Diseñadores</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row gap-2 pb-3">
        <div class="card card-cover h-100 overflow-hidden bg-black rounded-4 shadow-lg">
          <div class="d-flex flex-column h-100 text-white text-shadow-1">
            <img src="/assets/imagen/Pagina%20web%20(1)-10.png" height="325" ng-fallimg>
            <h4 class="display-6 lh-1 fw-bold text-sm-end">Programadores</h4>
          </div>
        </div>
      </div>
      <div class="row gap-2">
        <div class="card card-cover h-100 overflow-hidden bg-black rounded-4 shadow-lg">
          <div class="d-flex flex-column h-100 text-white text-shadow-1">
            <img src="/assets/imagen/Pagina%20web%20(1)-11.png" height="325" ng-fallimg>
            <h4 class="display-6 lh-1 fw-bold text-sm-end">Fotógrafos</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
